body {
  background-color: #c3cfe2;
}

main {
  display: -ms-grid;
  display: grid;
  font-size: 18px;
}

h1 {
  font-weight: 100;
  font-style: italic;
  padding-left: 20px;
}

box {
  border-radius: 15px;
  width: 386px;
  height: 450px;
  margin: 15px;
  -webkit-box-shadow: 3px 3px 3px darkgray;
          box-shadow: 3px 3px 3px darkgray;
  background-color: white;
}

box p {
  height: 70px;
  padding-left: 33px;
  padding-top: 10px;
  line-height: 27px;
}

box img {
  height: 120px;
  width: 120px;
  border-radius: 150px;
  border: 4px solid white;
  -webkit-transform: translateX(122px) translateY(90px);
          transform: translateX(122px) translateY(90px);
}

box .footer {
  background-color: #686de0;
  height: 40%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

box .footer h2,
box .footer h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 5px;
}

box .footer h2 {
  color: white;
  padding-top: 90px;
}

box .footer h3 {
  color: lightgray;
  font-size: smaller;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.projects-grid .project-image-wrapper {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 20px;
  position: relative;
}

.projects-grid .project-image-wrapper:hover button {
  visibility: visible;
  z-index: 1;
}

.projects-grid button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects-grid .project-image {
  border-radius: 15px;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: ease-in 500ms;
  transition: ease-in 500ms;
}

.projects-grid .project-image:hover {
  -webkit-filter: brightness(0.001);
          filter: brightness(0.001);
}

/*media queries*/
@media (max-width: 960px) {
  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 676px) {
  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0%;
  top: 20%;
  width: 250px;
  -webkit-transform: translateX(185px);
          transform: translateX(185px);
  line-height: 50px;
}

.container .box-1 {
  background-color: #e17b77;
  height: 55px;
  color: white;
}

.container .box-1 i {
  -webkit-transform: scale(1.5) translateX(15px) translateY(2px);
          transform: scale(1.5) translateX(15px) translateY(2px);
}

.container .box-1 a {
  visibility: hidden;
}

.container .box-1:hover {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 315px;
  -webkit-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.container .box-1:hover a {
  visibility: visible;
  color: white;
  padding-left: 70px;
  font-size: 18px;
}

.container .box-2 {
  background-color: #00aced;
  height: 55px;
  color: white;
}

.container .box-2 i {
  -webkit-transform: scale(1.5) translateX(15px) translateY(2px);
          transform: scale(1.5) translateX(15px) translateY(2px);
}

.container .box-2 a {
  visibility: hidden;
}

.container .box-2:hover {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 315px;
  -webkit-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.container .box-2:hover a {
  visibility: visible;
  color: white;
  padding-left: 70px;
  font-size: 18px;
}

.container .box-3 {
  background-color: #007bb6;
  height: 55px;
  color: white;
}

.container .box-3 i {
  -webkit-transform: scale(1.5) translateX(15px) translateY(2px);
          transform: scale(1.5) translateX(15px) translateY(2px);
}

.container .box-3 a {
  visibility: hidden;
}

.container .box-3:hover {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 315px;
  -webkit-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.container .box-3:hover a {
  visibility: visible;
  color: white;
  padding-left: 70px;
  font-size: 18px;
}

.container .box-4 {
  background-color: #3b5998;
  height: 55px;
  color: white;
}

.container .box-4 i {
  -webkit-transform: scale(1.5) translateX(15px) translateY(2px);
          transform: scale(1.5) translateX(15px) translateY(2px);
}

.container .box-4 a {
  visibility: hidden;
}

.container .box-4:hover {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 315px;
  -webkit-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.container .box-4:hover a {
  visibility: visible;
  color: white;
  padding-left: 70px;
  font-size: 18px;
}

.container .box-5 {
  background-color: #333;
  height: 55px;
  color: white;
}

.container .box-5 i {
  -webkit-transform: scale(1.5) translateX(15px) translateY(2px);
          transform: scale(1.5) translateX(15px) translateY(2px);
}

.container .box-5 a {
  visibility: hidden;
}

.container .box-5:hover {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  width: 315px;
  -webkit-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.container .box-5:hover a {
  visibility: visible;
  color: white;
  padding-left: 70px;
  font-size: 18px;
}
/*# sourceMappingURL=styles.css.map */